/* Estilos generales */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}
p {
  font-size: 35px; /* Aumentado */
  color: #bc2525;  
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

/* Formato de inputs y selects */
input, select {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*  (móviles) */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }
  p {
    font-size: 35px; /* Aumentado */
    color: #bc2525;
  }

  h1 {
    font-size: 3.5rem;
  }

  button {
    padding: 12px 24px;
    font-size: 1.1rem;
  }

  input, select {
    width: 100%;
  }
  p{
    font-size: 30px;



  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 601px) and (max-width: 1024px) {
  .App {
    padding: 15px;
  }

  h1 {
    font-size: 3.8rem;
  }

  p{
    font-size: 30px;
  }

  button {
    padding: 12px 24px;
    font-size: 1.1rem;
  }

  input, select {
    width: 70%;
  }
}

