/* Estilo general del contenedor */
.login-container {
  font-family: Arial, sans-serif;
  background-color: #d3cfcf;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 320px;
  margin: 100px auto 0;
  text-align: center;
}

/* Título */
.login-container h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* Estilos del formulario */
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos de los inputs */
.login-container input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container input:focus {
  border-color: #4CAF50;
  outline: none;
}

/* Estilo del botón */
.login-container button {
  background-color: #4CAF50;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #45a049;
}

/* Mensaje de error */
.login-container .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .login-container {
    max-width: 400px;
    padding: 2.5rem;
  }

  .login-container h2 {
    font-size: 2rem;
  }

  .login-container input,
  .login-container button {
    font-size: 1.1rem;
  }
}
